{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="add-form">
    <h2 class="resume">Hi Manuele, you have 3 active projects!</h2>
    <form action="/projects/new" method="POST">
      <input type="text" placeholder="New Project" name="new_project">
      <input type="submit" value="Submit" class="btn btn-sm add" />
    </form>
  </div>

  <!-- Main Content -->
  <div class="container">

    <!-- Active Projects Section -->
    <div class="section">Active Project</div>
    <div class="content">
      <div class="headers">
        <div class="header name">Name</div>
        <div class="header start">Started At</div>
        <div class="header complete">Completed At</div>
        <div class="header actions">Actions</div>
      </div>

      <!-- Active Projects Items -->
      {% for project in active_projects %}
        <div class="item">
          <div class="data name">
            <div class="project-name">
              <a href="/activity/{{ project.id }}">{{project.name}}</a>
              <button class="update update-name">u</button>
            </div>
            <form class="form-name" method="POST" action="/projects/update/name">
              <input type="text" name="name" value="{{project.name}}" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
              <input type="submit" value="u" class="update" />
            </form>
          </div>
          <div class="data start">{{ project.startedAt|date("m/d/Y") }}</div>
          <div class="data complete">none</div>
          <div class="data actions">
            <form class="btn-form" action="/projects/update" method="POST">
              <input type="submit" class="btn btn-sm completed" name="action" value="Complete" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
            </form>
            <form class="btn-form" action="/projects/delete" method="POST">
              <input type="submit" class="btn btn-sm delete" name="action" value="Delete" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
            </form>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Completed Projects Section -->
    <div class="section">Completed Project</div>
    <div class="content">
      <div class="headers">
        <div class="header name">Name</div>
        <div class="header start">Started At</div>
        <div class="header complete">Completed At</div>
        <div class="header actions">Actions</div>
      </div>
      <!-- Completed Projects Items -->
      {% for project in complete_projects %}
        <div class="item">
          <div class="data name">
            <div class="project-name">
              <p>{{project.name}}</p>
              <button class="update update-name">u</button>
            </div>
            <form class="form-name" method="POST" action="/projects/update/name">
              <input type="text" name="name" value="{{project.name}}" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
              <input type="submit" value="u" class="update" />
            </form>
          </div>
          <div class="data start">{{ project.startedAt|date("m/d/Y") }}</div>
          <div class="data complete">{{ project.completedAt|date("m/d/Y") }}</div>
          <div class="data actions">
            <form class="btn-form" action="/projects/update" method="POST">
              <input type="submit" class="btn btn-sm active" name="action" value="Active" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
            </form>
            <form class="btn-form" action="/projects/delete" method="POST">
              <input type="submit" class="btn btn-sm delete" name="action" value="Delete" />
              <input type="hidden" name="project_id" value="{{project.id}}" />
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
